<div class="users-page">
  <div class="users-page-container">
    <p class="users-page-title extra-bold third-color">Список Пользователей</p>

    <app-user-create (createUser)="onAddUser($event)" />
    <app-users-filter (searchChange)="onSearchChange($event)" />

    <div class="users-grid">
      @for (user of filteredUsers$ | async; track user.id) {
        <app-user-card [user]="user" (deleteUser)="deleteUser($event)" />
      } @empty {
        <span class="empty-message fs-22 extra-bold">Нет пользователей для отображения</span>
      }
    </div>
  </div>
</div>