.header {
  margin-top: 17px;
  height: 985px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    cursor: pointer;

    a {
      color: var(--white-color);
      margin-right: 24px;
      text-decoration: none;
    }

    .consultation-button {
      background-color: var(--third-color);
      border: none;
      border-radius: 4px;
      height: 44px;
      width: 157px;
      margin-left: 25px;
    }
  }

  .banner {
    background-image: url('/images/background-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .main-title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 41px;
    word-wrap: break-word;
  }

  .order-tour-section {
    margin-bottom: 82px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    gap: 24px;

    .input-banner {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .input-banner select {
      border: 1px solid white;
      border-radius: 8px;
      height: 52px;
      width: 270px;
      padding: 0px 12px 0px 12px;
      background-color: transparent;

      option {
        color: var(--primary-color);
      }
    }

    .input-banner input {
      border: 1px solid white;
      border-radius: 8px;
      height: 52px;
      width: 270px;
      padding: 0px 0px 0px 12px;
      background-color: transparent;

      &::placeholder {
        color: var(--white-color);
      }
    }

    .input-banner button {
      border-radius: 8px;
      border: none;
      height: 52px;
      width: 213px;
      margin-bottom: 22px;
    }

    span {
      color: var(--white-color);
    }
  }
}

