@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #F2BE22;
  --third-color: #1A3E3E;
  --white-color: #FDFDFD;
  --beige-color: #d4a373;
}

.app-dark {
  --primary-color:  #594e48;
  --secondary-color: #a59767;
  --third-color: #3b8c8c;
  --white-color: #594e48;
  --beige-color: #5d3c1d;
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

.white {
  color: #FDFDFD;
}

.primary-color {
  color: #18121E;
}

.secondary-color {
  color: #F2BE22;
}

.third-color {
  color: #1A3E3E;
}

.beige-color {
  color: #d4a373;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.citation {
  color: #667c7c;
  font-style: italic;
}

.gradient-border {
  position: relative;
  border: var(--border-width) solid transparent;
  background:
    linear-gradient(#5c5c5c) padding-box,
    linear-gradient(90deg, var(--gradient-colors)) border-box;
  background-size: 100% 100%, 300% 300%;
  background-position: 0 0, 0% 50%;
  animation: gradientBorder 4s infinite linear;
}

@keyframes gradientBorder {
  0% {
    background-position: 0 0, 0% 50%;
  }

  50% {
    background-position: 0 0, 100% 50%;
  }

  100% {
    background-position: 0 0, 0% 50%;
  }
}