@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #F2BE22;
  --third-color: #1A3E3E;
  --white-color: #FDFDFD;
  --beige-color: #d4a373;
}

.white {
  color: #FDFDFD;
}

.primary-color {
  color: #18121E;
}

.secondary-color {
  color: #F2BE22;
}

.third-color {
  color: #1A3E3E;
}

.beige-color {
  color: #d4a373;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.citation {
  color: #667c7c;
  font-style: italic;
}

