@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 1180px;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #F2BE22;
  --third-color: #1A3E3E;
  --white-color: #FDFDFD;
}

.white {
  color: #FDFDFD;
}

.primary-color {
  color: #18121E;
}

.secondary-color {
  color: #F2BE22;
}

.third-color {
  color: #1A3E3E;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

